[Desktop Entry]
Version=1.0 
Name=CatLock
Exec=/usr/bin/python3 /home/darko/.local/share/Wallpaper.app/catlock.py -p 420420
Comment=
Terminal=false
Icon=/home/darko/.local/share/Wallpaper.app/Resources/catlock.png
Type=Application
