[Desktop Entry]
Version=1.0 
Name=CatLock
Exec=/usr/bin/python3 $HOME/.local/share/Wallpaper.app/Resources/catlock.py -p 420420
Comment=
Terminal=false
Icon=$HOME/.local/share/Wallpaper.app/Resources/catlock.png
Type=Application
