[Desktop Entry]
Version=1.0
Name=Wallpaper
Exec=/usr/bin/python3 $HOME/.local/share/Wallpaper.app/Resources/Wallpaper
Comment=
Terminal=false
Icon=$HOME/.local/share/Wallpaper.app/Resources/Wallpaper.png
Type=Application
