#!/usr/bin/env xdg-open 
[Desktop Entry] 
Version=1.0 
Type=Application 
Terminal=false 
Icon[en_US]=file:///home/pi/.local/share/HomeScreen.app/Resources/HomeScreen.png 
Name[en_US]=HomeScreen 
Exec=/home/pi/.local/share/HomeScreen.app/HomeScreen
Comment[en_US]=set resolution 
Name=resolution 
Comment=set resolution 
